@import '../../styles.scss';

// TODO: this styling is mostly with .tag. Unify this
.insert-menu-button {
  vertical-align: top;
  border: none;
  font-size: $font-size-small;
  font-family: $font-family;
  line-height: $line-height;
  color: white;
  background: $light-gray;
  border-radius: 2px;
  padding: 0 4px;
  margin: 0;
  cursor: pointer;
  position: relative;

  &:hover {
    background: lighten($light-gray, 5%);
  }
}
