@import '../../styles.scss';

.json-node {
  position: relative;
  font-family: $font-family-mono;
  font-size: $font-size-mono;
  color: $black;

  &.root {
    min-height: 100%;
    padding-bottom: $input-padding;
    box-sizing: border-box;
  }

  &.hovered {
    .header,
    .contents,
    .footer {
      background-color: $hovered-background;
    }
  }

  $selector-height: 8px; // must be about half a line height

  .props,
  .items {
    position: relative;
  }

  .header-outer,
  .footer-outer {
    display: flex;
  }

  .header {
    position: relative;

    .meta {
      > .meta-inner {
        display: flex;
        justify-content: center;
      }
    }
  }

  .contents-outer {
    display: flex;
  }

  .header,
  .contents {
    display: table;
    flex-direction: row;

    line-height: $line-height;

    > * {
      display: table-cell;
    }
  }

  .contents {
    padding-left: $line-height ; // must be the same as the width of the expand button
  }

  .footer {
    display: inline-flex;
    padding-left: $line-height + $input-padding; // must be the same as the width of the expand button
  }

  .insert-button {
    visibility: hidden;
    padding: 0 $padding / 2;

    &.inside {
      display: inline-flex;
      align-items: center;
    }

    &.after {
      display: flex;
      align-items: end;
      line-height: $line-height;
    }
  }

  &:hover > .contents-outer .insert-button:not(.selected),
  .header-outer:hover > .insert-button:not(.selected),
  .footer-outer:hover .insert-button:not(.selected) {
    visibility: visible;
  }

  .insert-menu {
    background: $theme-color;

    width: 100%;
    max-width: 250px;
    height: 6px;
  }
}

.expand {
  position: relative;
  top: 2px;
  width: $line-height;
  height: $line-height;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $gray-icon;
  font-size: $font-size-mono;
  line-height: $line-height;
}

.key,
.value {
  line-height: $line-height;
  min-width: 16px;
  word-break: normal;
  padding: 0 $input-padding;
  outline: none;
  border-radius: 1px;
  vertical-align: top;
}

.meta,
.separator,
.bracket {
  vertical-align: top;
  color: $gray;
}

.bracket {
  padding: 0 2px;

  &.expanded {
    padding-right: $padding;
  }
}

.tag {
  vertical-align: top;
  border: none;
  font-size: $font-size-small;
  font-family: $font-family;
  color: white;
  background: $light-gray;
  border-radius: 2px;
  padding: 0 4px 1px;
  margin: 2px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: lighten($light-gray, 5%);
  }
}

.value {

  &.string {
    color: #008000;
  }

  &.object,
  &.array {
    min-width: 16px;
    color: $gray;
  }

  &.number {
    color: #ee422e;
  }

  &.boolean {
    color: #ff8c00;
  }

  &.null {
    color: #004ED0;
  }

  &.invalid {
    color: #000000;
  }

  &.url {
    color: green;
    text-decoration: underline;
  }
}

div.empty {
  &:not(:focus) {
    outline: 1px dotted lightgray;
    -moz-outline-radius: 2px;
  }
  
  &::after {
    pointer-events: none;
    color: lightgray;
  }

  &.key::after {
    content: 'key';
  }

  &.value::after {
    content: 'value';
  }
}

.key.search,
.value.search {
  background-color: $highlight-color;

  &.active {
    background-color: $highlight-active-color;
  }
}

// TODO: simplify the CSS needed to correctly highlight the selection
.json-node {
  // entry selected
  &.selected {
    .header,
    .contents,
    .meta,
    .bracket,
    .separator,
    .expand,
    .footer {
      background-color: $selection-background;
      color: $selection-color;
    }

    .value {
      color: $selection-color;
    }

    .tag {
      background: $theme-color-light;
    }
  }

  // key selected
  &.selected-key {
    > .contents-outer > .contents > .key,
    > .header-outer > .header > .key {
      background-color: $selection-background;
      color: $selection-color;
    }
  }

  // value selected
  &.selected-value {
    > .header-outer > .header > .meta,
    > .footer-outer > .footer,
    > .contents-outer > .contents > .value,
    > .contents-outer > .contents .contents,
    .props .contents,
    .props .header-outer .header,
    .props .footer-outer .footer,
    .props .expand,
    .items .contents,
    .items .header-outer .header,
    .items .footer-outer .footer,
    .items .expand {
      background-color: $selection-background;
      color: $selection-color;

      .value {
        color: $selection-color;
      }

      .bracket {
        color: $selection-color;
      }

      .tag {
        background: $theme-color-light;
      }
    }
  }

  .key[contenteditable="true"],
  .value[contenteditable="true"] {
    outline: 2px solid $darkblue; // TODO: border should be displayed on top of light gray highlight background when hovering sibling above or below
    background: $theme-color;
    color: $selection-color !important;
  }
}

// TODO: create a class shared by .expand and .validation-error buttons
.validation-error {
  color: $warning-color;
  padding: 0 $input-padding;
  height: $line-height;
  line-height: $line-height;
  font-size: $font-size;
  position: relative;
  top: 2px;
}
