@import '../../styles.scss';

.json-node {
  position: relative;
  font-family: $font-family-mono;
  font-size: $font-size-mono;
  color: $black;

  &.root {
    min-height: 100%;
    padding-bottom: $input-padding;
    box-sizing: border-box;
  }

  &.hovered {
    > .header-outer > .header > .meta,
    .props .header,
    .items .header,
    .props .contents,
    .items .contents,
    .footer {
      background-color: $hovered-background;
    }
  }

  $selector-height: 8px; // must be about half a line height

  .props,
  .items {
    position: relative;
  }

  .header-outer,
  .footer-outer {
    display: flex;
  }

  .header {
    position: relative;

    .meta {
      > .meta-inner {
        display: flex;
        justify-content: center;
      }
    }
  }

  .contents-outer {
    display: flex;
  }

  .header,
  .contents {
    display: table;
    flex-direction: row;

    line-height: $line-height;

    > :global(*) {
      display: table-cell;
    }
  }

  .contents {
    padding-left: $line-height ; // must be the same as the width of the expand button
  }

  .footer {
    display: inline-flex;
    padding-left: $line-height + $input-padding; // must be the same as the width of the expand button
  }

  .insert-button-area {
    visibility: hidden;
    padding: 0 $padding / 2;
    flex: 1; // must fill all left over space at the right side of the editor, so you can click there

    &.inside {
      display: inline-flex;
      align-items: center;
    }

    &.after {
      display: flex;
      align-items: end;
      line-height: $line-height;
    }
  }

  &:hover > .contents-outer .insert-button-area:not(.selected),
  .header-outer:hover > .insert-button-area:not(.selected),
  .footer-outer:hover .insert-button-area:not(.selected) {
    visibility: visible;
    z-index: 1;
  }

  .insert-area {
    $height: 4px;

    display: none;
    position: relative;

    max-width: 250px;
    min-width: 100px;
    height: 0;
    margin-right: $padding/2;

    &.hovered {
      display: flex;
      outline: $height/2 solid $hovered-background;
    }

    &.selected {
      display: flex;
      z-index: 2;
      outline: $height/2 solid $selection-background;
    }
  }

  &.selected,
  &.selected-value {
    .insert-area {
      display: none;
    }
  }
}

.expand {
  display: table-cell;
  position: relative;
  top: 2px;
  width: $line-height;
  height: $line-height;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $gray-icon;
  font-size: $font-size-mono;
  line-height: $line-height;
}

.meta,
.separator,
.index,
.bracket {
  vertical-align: top;
  color: $meta-color;
}

.index {
  padding: 0 $padding / 2;
}

.bracket {
  padding: 0 2px;

  &.expanded {
    padding-right: $padding;
  }
}

.tag,
.insert-button {
  border: none;
  font-size: $font-size-small;
  font-family: $font-family;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.tag {
  vertical-align: top;
  padding: 0 4px 1px;
  margin: 2px;

  background: $light-gray;

  &:hover {
    background: lighten($light-gray, 5%);
  }
}

.insert-button {
  padding: 0 4px;
  margin: 0;
  line-height: $line-height;

  background: $hovered-background;

  &:hover {
    background: $light-gray;
  }
}

.identifier {
  vertical-align: top;
}

// TODO: simplify the CSS needed to correctly highlight the selection
.json-node {
  // entry selected
  &.selected {
    .header,
    .contents,
    .meta,
    .expand,
    .footer,
    :global(.key),
    :global(.value) {
      background-color: $selection-background !important;
      color: $selection-color;
    }

    .bracket,
    .separator,
    .index {
      color: $meta-color-selected;
    }

    .tag {
      background: $theme-color-light;
    }
  }

  // key selected
  &.selected-key {
    > .contents-outer > .contents > :global(.identifier) > :global(.key),
    > .header-outer > .header > :global(.identifier) > :global(.key) {
      background-color: $selection-background;
      color: $selection-color;
    }
  }

  &.selected-value > .contents-outer > .contents > :global(.value) {
    background-color: $selection-background;
    color: $selection-color;
  }

  // value selected
  &.selected-value {
    .meta,
    .props .contents,
    .props .header,
    .props .footer,
    .props .expand,
    .items .contents,
    .items .header,
    .items .footer,
    .items .expand {
      background-color: $selection-background !important;
      color: $selection-color;

      :global(.key),
      :global(.value) {
        background-color: $selection-background !important;
        color: $selection-color;
      }

      .index,
      .bracket,
      .separator {
        color: $meta-color-selected;
      }

      .tag {
        background: $theme-color-light;
      }
    }
  }
}

:global(.bubble.dark) {
  background: $dark-gray !important;
  color: $white;
  font-family: $font-family !important;
  font-size: $font-size !important;
}
