@import '../../styles.scss';
@import './shared.scss';

.key {
  display: inline-block;

  &:hover {
    background: $hovered-background;
  }

  &.empty::after {
    content: 'key';
  }

  &[contenteditable="true"] {
    min-width: 50px;

    &::after {
      content: none;
    }
  }
}
