@import '../../styles.scss';
@import './shared.scss';

.key {
  display: inline-block;
  min-height: $line-height;

  &:hover {
    background: $hovered-background;
  }

  &.empty {
    min-width: 3em;

    &::after {
      content: 'key';

      &[contenteditable="true"] {
        content: none;
      }
    }
  }
}
