@import './styles.scss';

.jsoneditor {
  border: 1px solid $theme-color;
  width: 100%;
  height: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;

  .hidden-input-label {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;

    .hidden-input {
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      outline: none;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }
  
  .contents {
    flex: 1;
    overflow: auto;

    //display: flex;
    //flex-direction: column;
  }
}