
$font-family: consolas, monaco, "lucida console", "courier new",  "dejavu sans mono", "droid sans mono", courier, monospace, sans-serif;
$font-size: 14px;
$font-size-small: 11px;
$font-family-menu: arial, "sans-serif";
$font-size-icon: 16px;

$white: #fff;
$black: #1A1A1A;
$red: #ee422e;
$contentsMinHeight: 150px;
$theme-color: #3883fa;
$theme-color-light: lighten($theme-color, 5%);
$floating-menu-background: #4d4d4d;
$floating-menu-color: #fff;
$selected-color: #ffe665;
$highlight-color: #ffe665;
$highlight-hover-color: #f0f000;
$highlight-active-color: #ffd700;
$highlight-active-hover-color: #f3cd00;
$warning-color: #FBB917;
$error-background-color: #ffef8b;
$error-border-color: #ffd700;
$dark-gray: #656565;
$gray: #9d9d9d;
$gray-icon: $gray;
$light-gray: #c0c0c0;
$selection-background: #e0e0e0;
$background-gray: #f5f5f5;

$line-height: 18px;
$indentation-width: 18px; // IMPORTANT: keep in sync with js constant INDENTATION_WIDTH
$menu-button-size: 32px;
$input-padding: 5px;
$search-box-offset: 10px;
$border-radius: 3px;

$menu-padding: 5px;
$bottom-height: 5px;

$box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);

button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: $font-family-menu;
  font-size: $font-size;
  padding: $menu-padding;
}
